
.profile-container {
    background: linear-gradient(to right, #080000, #2d2d2d); 
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(102, 101, 101, 0.1);
    width: 100%;
    max-width: 500px; 
    box-sizing: border-box;
    margin: 20px auto; 
  }
  
 
  .profile-container table {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 20px;
  }
  
  .profile-container td {
    padding: 10px;
    border-bottom: 1px solid #fff; 
  }
  
  .profile-container td:first-child {
    font-weight: bold;
    color: #fff; 
    width: 150px; 
  }
  
  .profile-container img {
    max-width: 100%; 
    border-radius: 5px; 
    margin-top: 20px; 
  }
  
  
  .profile-container .publications-container {
    margin-top: 30px; 
  }
  
  .profile-container .publications-container .card {
    margin-bottom: 40px; 
  }
  