.container {
    margin-top: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    margin-bottom: 20px;
  }
  
  .card:hover {
    transform: scale(1.02);
  }
  
  .card-img-top {
    width: 100%; 
    height: auto; 
  }
  
  .card-body {
    padding: 15px;
    text-align: center;
  }
  
  .card-text {
    margin-bottom: 15px;
  }
  
  .card-description {
    font-size: 20px; 
    color: #ffffff; 
    font-family: 'Arial', sans-serif; 
  }
  
  .card-link {
    font-size: 20px; 
    color: #b379ff; 
    font-family: 'Arial', sans-serif; 
    text-decoration: none; 
  }
  
  .card-link:hover {
    text-decoration: underline; 
  }
  
  .btn-primary {
    background-color: #020005;
    border-color: #7a55ac;
  }
  
  .btn-primary:hover {
    background-color: #4e2c75;
    border-color: #4e2c75;
  }
  
  .row {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  .col-md-4 {
    width: 100%; 
    max-width: 600px; 
    box-sizing: border-box;
    padding: 10px;
  }
  