/* src/styles/RegistroForm.css */

/* Aplica un fondo gris claro a todo el cuerpo */
body {
    background: linear-gradient(to bottom, #484949, #bdbaba); /* Degradado de gris oscuro a gris claro */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 20px; /* Espacio desde la parte superior */
    font-family: Arial, sans-serif;
  }
  
  /* Formulario centrado y estilizado */
  form {
    background: linear-gradient(to right, #080000, #2d2d2d); /* Degradado lateral de negro a gris oscuro */
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(102, 101, 101, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin: 20px 0; /* Espacio entre formularios si se muestran en la misma página */
  }
  
  /* Estilos para los elementos del formulario */
  form div {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    color: #fff; /* Texto en blanco para mejor visibilidad */
  }
  
  form input[type="text"],
  form input[type="password"],
  form input[type="email"],
  form input[type="file"],
  form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #a19f9f;
    border-radius: 5px;
  }
  
  form input[type="text"],
  form input[type="password"],
  form input[type="email"],
  form input[type="file"] {
    background-color: #525252;
  }
  
  form button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  form .error {
    color: red;
    margin-top: -10px;
  }
  